
   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 } 
      .floatleft {
       margin-left:7%;
       float: left;
       width:35%;
       margin-bottom:5%;
     position:relative;
     }
       
     .floatright {
       margin-right:7%;
       float: right;
       width:35%;
       margin-bottom:5%;
       position:relative;
     }
 
 #myInput {
   background-position: 10px 10px;
   background-repeat: no-repeat;
   width: 100%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #ddd;
   margin-bottom: 12px;
    margin-left:10%;
 }
 
      