.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }
   body{
     margin: 0;
     padding: 0; 

     background-size: cover;
     background-position: center;
     font-family: sans-serif;
   }
 
 .button {
   display: inline-block;
   border-radius: 10px;
   background-color: #8a0db1;
   border: none;
   color: white;
   text-align: center;
   font-size: 30px;
   padding: 20px;
   width: 500px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   display: block;
   margin: auto;
 
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 
 .button:hover span {
   padding-right: 25px;
 }
 
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }
 .button:hover {
     background-color: rgb(63, 26, 228);
     color: white;
 }